# Set Dart as the primary language
*.dart linguist-language=Dart

# Ignore other languages in the stats
*.cpp linguist-language=ignore
*.cmake linguist-language=ignore
*.swift linguist-language=ignore
*.c linguist-language=ignore
*.html linguist-language=ignore
*.json linguist-language=ignore
*.xml linguist-language=ignore
*.gradle linguist-language=ignore
*.java linguist-language=ignore

# Ignore build files and assets
build/ linguist-vendored
assets/ linguist-vendored
*.lock linguist-vendored
*.log linguist-vendored
