# Exclude non-Dart files from language statistics
*.cpp linguist-language=ignore
*.h linguist-language=ignore
*.cmake linguist-language=ignore
*.swift linguist-language=ignore
*.c linguist-language=ignore
*.html linguist-language=ignore
